@model PharmaStoreData.Drug
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form id="formAdd" method="post" action="/manage/add">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label>Name:</label>
                <input class="form-control" name="Name" type="text" placeholder="enter name" value="" />
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="form-group">
                <label>Description:</label>
                <input class="form-control" name="Description" type="text" placeholder="enter description" value="" />
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            <div class="form-group">
                <label>Manufacturer:</label>
                <input class="form-control" name="Manufacturer" type="text" placeholder="enter manufacturer" value="" />
                @Html.ValidationMessageFor(model => model.Manufacturer)
            </div>
            <div class="form-group">
                <label>Country:</label>
                <input class="form-control" name="Country" type="text" placeholder="enter country" value="" />
                @Html.ValidationMessageFor(model => model.Country)
            </div>
            <div class="form-group">
                <label>Price:</label>
                <input class="form-control" name="Price" type="text" placeholder="enter price" value="" />
                @Html.ValidationMessageFor(model => model.Price)
            </div>
            <div class="form-group">
                <label>Amount:</label>
                <input class="form-control" name="Amount" type="text" placeholder="enter amount" value="" />
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
            <div class="form-group">
                <label>Manufactured Date:</label>
                <input class="form-control" name="ManufacturedDate" type="text" placeholder="enter manufactured date" value="" />
                @Html.ValidationMessageFor(model => model.ManufacturedDate)
            </div>
            <div class="form-group">
                <label>Expiration:</label>
                <input class="form-control" name="Expiration" type="text" placeholder="enter expiration" value="" />
                @Html.ValidationMessageFor(model => model.Expiration)
            </div>
            <button type="submit" onclick="Add(event)" class="btn btn-default">Add</button>
        </form>
    </div>
</div>

